@import './colors.scss';



.wrapper{
    margin-top: .86rem;
    grid-column: 4/10;
    overflow-y: auto;
       
}
.round{
    border-radius: 20px !important;

}
.wrapper::-webkit-scrollbar{
    display: none;
}