@import './colors.scss';


.loginCard{
    background-color: $Card-bg;
    width: 100%;
    height: 95%;
    padding: 1rem;
    border-radius: $border;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formCard{
    width: 50%;
}